{% extends "layout.html" %}

{% block title %}
    Your Stocks
{% endblock %}

{% block main %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Name</th>
          <th scope="col">Shares</th>
          <th scope="col">Price</th>
          <th scope="col">TOTAL</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>GOOG</td>
          <td>Alphabet Inc.</td>
          <td>10</td>
          <td>$123.44</td>
          <td>$-----</td>
        </tr>
        <tr>
          <td>AAPL</td>
          <td>Apple Inc</td>
          <td>5</td>
          <td>$109.39</td>
          <td>$-----</td>
        </tr>
        <tr>
          <td>GE</td>
          <td>General Electric</td>
          <td>6</td>
          <td>$98.56</td>
          <td>$-----</td>
        </tr>
      </tbody>
      <tfoot>
          <tr>
              <th scope="row">CASH</th>
              <td></td>
              <td></td>
              <td>Remaining Cash:</td>
              <td> </td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>Original Balance:</td>
              <td>$10,000</td>
          </tr>
      </tfoot>
    </table>
{% endblock %}